In [59]:
import pandas as pd
import os
import pickle

In [60]:
SAVE_DIR = "/Users/beneverman/Documents/Coding/AsyncFetcher-v1/data/"

In [61]:
raw_dir = f"{SAVE_DIR}raw/"
paths = [path for path in os.listdir(raw_dir) if path.endswith(".csv")]

In [62]:
len(set(paths))

93

In [63]:
dfs = [pd.read_csv(f"{raw_dir}{path}", index_col=0) for path in paths]

In [65]:
lens = [len(df) for df in dfs]

In [68]:
print(max(lens) - min(lens))

82462

In [66]:
for df in dfs:
    if len(df) < 400000:
        print(df.loc[0, 'ticker'])

In [14]:
invalid_paths = [p for p in os.listdir(SAVE_DIR) if p.endswith(".pkl")]

In [42]:
invalid_dfs = []
for path in invalid_paths:
    with open(f"{SAVE_DIR}{path}", "rb") as f:
        invalid_dfs.append(pickle.load(f))

In [45]:
ge_invalid_df = pd.DataFrame(invalid_dfs[0])

In [48]:
ge_invalid_df['results'] = ge_invalid_df['results'].apply(lambda x: x[0])

In [58]:
ge_invalid_df

,ticker,queryCount,resultsCount,adjusted,results,status,request_id,count
0,GE,554,554,True,"{'v': 126.875, 'vw': 105.4888, 'o': 105.6, 'c'...",OK,206f31dc1502f882b3998d8edb0530ec,554
1,GE,391,391,True,"{'v': 474229.875, 'vw': 100.2936, 'o': 100.24,...",OK,f4d2dc06eff7f3854d31089a73507fcf,391
2,GE,391,391,True,"{'v': 158136.125, 'vw': 97.7608, 'o': 98, 'c':...",OK,a0139c97169fe39fdc43491641282674,391
3,GE,391,391,True,"{'v': 133313.125, 'vw': 97.5816, 'o': 97.84, '...",OK,b8fb23b6e6006ed378f27987fc267530,391
4,GE,391,391,True,"{'v': 193512, 'vw': 98.0416, 'o': 98, 'c': 98....",OK,4244b68be93b21da6d47942cb714afa9,391
...,...,...,...,...,...,...,...,...
700,GE,391,391,True,"{'v': 97804.875, 'vw': 101.3624, 'o': 101.28, ...",OK,2b29b4f86d72b27e9ba7d8e1aaf1a77f,391
701,GE,391,391,True,"{'v': 340123.875, 'vw': 106.4184, 'o': 106.64,...",OK,216e414ed641c65743f81617528b028d,391
702,GE,391,391,True,"{'v': 280526.875, 'vw': 105.5776, 'o': 105.2, ...",OK,5de7f125940d730251ee72356b7e5103,391
703,GE,391,391,True,"{'v': 95118.5, 'vw': 105.532, 'o': 105.52, 'c'...",OK,8a119cf94ad200580253af9d3238a33a,391
704,GE,391,391,True,"{'v': 129824.75, 'vw': 105.0632, 'o': 105.28, ...",OK,5d6ffe8adb68705413c2ac99d86ab5a6,391

In [52]:
ge_results.loc[:, 'ticker'] = 'GE'

In [54]:
ge_valid = pd.read_csv("/Users/beneverman/Documents/Coding/AsyncFetcher-v1/data/tests/raw/GE-2018-10-11-2023-10-09.csv", index_col=0)

In [55]:
ge_valid

,c,h,l,n,o,t,v,vw,ticker
0,104.2247,104.8900,104.15,968,104.480,1627911000000,200989,104.6542,GE
1,104.1700,104.6500,104.17,884,104.320,1627911060000,95258,104.4335,GE
2,104.6840,104.9002,104.13,1222,104.160,1627911120000,127575,104.7022,GE
3,104.7500,105.0800,104.59,1138,104.600,1627911180000,127405,104.8492,GE
4,104.5500,104.7600,104.37,1384,104.750,1627911240000,125050,104.5464,GE
...,...,...,...,...,...,...,...,...,...
214865,110.2400,110.2700,110.23,767,110.270,1696881360000,47893,110.2550,GE
214866,110.2600,110.2800,110.24,861,110.250,1696881420000,56365,110.2647,GE
214867,110.2200,110.2900,110.22,1005,110.265,1696881480000,81344,110.2547,GE
214868,110.2700,110.3000,110.20,1000,110.220,1696881540000,74208,110.2421,GE
214869,110.2600,110.2600,110.26,56,110.260,1696881600000,662608,110.2600,GE

In [53]:
ge_results

,v,vw,o,c,h,l,t,n,ticker
0,126.875,105.4888,105.60,105.4400,105.600,105.28,1.539245e+12,9.0,GE
1,474229.875,100.2936,100.24,100.0000,100.640,99.84,1.539351e+12,2200.0,GE
2,158136.125,97.7608,98.00,97.6800,98.000,97.60,1.539610e+12,598.0,GE
3,133313.125,97.5816,97.84,97.4120,98.320,97.28,1.539697e+12,558.0,GE
4,193512.000,98.0416,98.00,98.3488,98.468,97.92,1.539783e+12,991.0,GE
...,...,...,...,...,...,...,...,...,...
700,97804.875,101.3624,101.28,101.3584,101.520,101.04,1.627306e+12,951.0,GE
701,340123.875,106.4184,106.64,107.1200,107.200,105.92,1.627393e+12,2890.0,GE
702,280526.875,105.5776,105.20,105.4400,106.160,104.96,1.627479e+12,2419.0,GE
703,95118.500,105.5320,105.52,105.6000,105.840,105.36,1.627565e+12,900.0,GE
704,129824.750,105.0632,105.28,104.4000,105.440,104.40,1.627652e+12,1396.0,GE